
 .tx{
    
    justify-content: space-between;
}
.tx input{
    display: flex;
    margin: 20px;
    max-width: 100%;
    width: 300px;
    color:white;
}
.btn-group{
    width: 300px;
    border-radius: 12px;
}
.container_3{
display: flex;
margin-top: 300px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
}
.container_3 a{
    text-decoration: none;
    color: rgb(89, 192, 113);
}
.card{
  width: 300px;
  padding: 20px;
  margin-right: 400px;
}
svg{
    margin-left: 80px;
}
label{
    font-weight: bold;
}

